Utilizando o método ETL para o Desafio do curso de Data Science, esse desafio foi baseado em um "mercadinho" onde vamos realizar a extração dos produtos desse mercadinho de um arquivo csv e então transformar e realizar o load.

# Extraction

In [ ]:
# pip install pandas

In [24]:
import pandas as pd

# lendo o arquivo csv
df = pd.read_csv('Challenge-SDW-2023.csv')

# Transform

In [25]:
# calculando o preço médio por unidade

df[' preco_medio'] = df[' VendaTot'] / df[' Qtd']


# calculando o lucro

df[' custo_producao'] = 80 # custo de prod de R$75 por unidade

df[' lucro'] = df[' VendaTot'] - df[' custo_producao']


# exibindo a tabela com as novas métricas
df

,ID,Produto,Qtd,VendaTot,Data,preco_medio,custo_producao,lucro
0,1,arroz,10,150.0,2023-09-10,15.0,80,70.0
1,2,feijao,5,95.0,2023-09-9,19.0,80,15.0
2,3,farinha,8,120.0,2023-09-11,15.0,80,40.0
3,4,acucar,12,240.0,2023-09-10,20.0,80,160.0

# Load

Trocando as métricas do csv para um banco de dados

In [26]:
# pip install sqlalchemy

from sqlalchemy import create_engine, text
from prettytable import PrettyTable

engine = create_engine('sqlite://', echo=False)
df.to_sql('Market_Data', con=engine, if_exists='replace', index=False)

query = text("SELECT * FROM Market_Data")

with engine.connect() as connection:
    result = connection.execute(query)

column_names = result.keys()

# Criação da tabela com as colunas
table = PrettyTable(column_names)

# Adicionando as linhas de dados à tabela
for row in result:
    table.add_row(row)

print(table)

+----+----------+------+-----------+-------------+--------------+-----------------+--------+
| ID |  Produto |  Qtd |  VendaTot |     Data    |  preco_medio |  custo_producao |  lucro |
+----+----------+------+-----------+-------------+--------------+-----------------+--------+
| 1  |   arroz  |  10  |   150.0   |  2023-09-10 |     15.0     |        80       |  70.0  |
| 2  |  feijao  |  5   |    95.0   |   2023-09-9 |     19.0     |        80       |  15.0  |
| 3  |  farinha |  8   |   120.0   |  2023-09-11 |     15.0     |        80       |  40.0  |
| 4  |  acucar  |  12  |   240.0   |  2023-09-10 |     20.0     |        80       | 160.0  |
+----+----------+------+-----------+-------------+--------------+-----------------+--------+